# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=my-nest-ecom

# JWT
JWT_SECRET=your_serect
JWT_EXPIRATION_TIME=1h
JWT_REFRESH_EXPIRATION_TIME=7d

# Mail
MAIL_HOST=sandbox.smtp.mailtrap.io
SMTP_USERNAME=gfasudhgfsjdgfdsfsdff
SMTP_PASSWORD=oijsdaisf12344dsfgs14

# SePay Configuration
SEPAY_API_KEY=your_sepay_api_key_here
SEPAY_BANK_ACCOUNT=1234567890
SEPAY_BANK_CODE=VCB
SEPAY_ACCOUNT_NAME=TEN CHU TAI KHOAN
SEPAY_WEBHOOK_SECRET=your_webhook_secret_key
SEPAY_API_BASE_URL=https://my.sepay.vn/userapi
SEPAY_QR_EXPIRE_MINUTES=15